.container {
  padding: 10px;
}

h1{
  margin: 2% 20%;
  padding: 0px 20px;
  font-size: x-large;
  text-align: center;
}

form {
  margin: 2% 20%;
  border: 0px solid #684701;
  border-radius: 15px;
  /*background-image: url('../../../assets/img/car-sell.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

label, a, h1, p {
  color: white;
}

input[type=text], input[type=password], input[type=number], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #684701;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: large;
  font-weight: 600;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

span.psw {
  float: right;
  padding-top: 16px;
  color: white;
}