*, *:before, *:after {
  box-sizing: inherit;
}

.about {
  box-sizing: border-box;
  color: white;
}

i {
  text-align: start;
}

h1 {
  font-size: x-large;
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  border-radius: 15px;
}

iframe {
  width: 100%;
  height: 20rem;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  padding: 1% 10px;
  margin: 8px;
  background-color: rgb(57, 62, 70);
  border-radius: 10px;
}

.about-section {
  padding: 50px;
  text-align: center;
  color: white;
  margin: 0% 10%;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border-radius: 10px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  margin: 10px auto;
  color: white;
  background-color: rgb(0, 173, 181, 0.7);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(0, 173, 181, 0.3);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}