ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(34, 40, 49);
  font-weight: 800;
  border-bottom: 1px solid black;

  /* Set navbar fixed */
  position: static;
  top: 0;
  width: 100%;
  z-index: 1000;
}

ul.topnav li {float: left;}

img {
  height: 1em;
  vertical-align: middle;
  object-fit: cover;

}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {
  background-color: rgb(0, 173, 181, 1);
  border-radius: 10px;
}

ul.topnav li.right {float: right;}

/* Dropdown wrapper */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Button which opens dropdown */
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-weight: 800;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(34, 40, 49);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1001;
  border-radius: 10px;
}

/* Links inside dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 10px;
}

/* Hover effects */
.dropdown-content a:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropbtn::after {
  content: " ▾";   /* Unicode arrow */
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}